<a href="https://colab.research.google.com/github/Parnika01-spec/Front-End-Development/blob/main/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# basic Syntax in python

Name= "Parnika Verma"
Age= 18
Weight= 46.5
_StudentSU= True

print(Name, Age)
print(Weight)
print("_StudentSU")

print(10**3)
print(10//5) #Returns the quotient
print(10%3) #returns the remainer

print("a" in Name)
print("d" in Name)

Parnika Verma 18
46.5
_StudentSU
1000
2
1
True
False

In [ ]:
# BASIC DATA STRUCTURE IN PYTHON

# Strings
#Ordered(Positions matter), Immutable(cannot be changed once created) Iterable(can loop through it)
#Why Immputable- since python saves string in a special memory area and reuses them to save the memory, changing breaks optimization
Name= "Parnika Verma"
print(Name[-2])
print(Name[-6])
print(Name[-8])
print(Name[0])

#List
#Ordered, Mutable(user can modify the values), alloes duplicated, store any data type

fruits= ["apple", "mango", "grapes"]
print(fruits)
fruits.append ("orange")
print(fruits)

#Tuple(Lists but immutable)
#Ordered, Immutable< fast(since the data is fixed), allows duplicates
#Why use tuples- When we want the data to be fixed; like the coordinatess, monthn of the year, etc.
colors= ("red", "black", "blue", "violet", "white")
print(colors)
print(colors[0])


#Sets- for storing unique data. Fast, mutable, unordered, doesn't allow duplicate data.
marks= {99, 100, 94, 95, 97, 99}
print(marks)
#Why use set?- when you want unique values or want to perform set operations.

m

k
P
['apple', 'mango', 'grapes']
['apple', 'mango', 'grapes', 'orange']
('red', 'black', 'blue', 'violet', 'white')
red
{97, 99, 100, 94, 95}

In [ ]:
#Dictionary= They store data in key-value pairs, like a mini database. Mutable, Unordered, Key must be unique, values can be anything

student ={
    "name": "Parnika",
    "age": 18,
    "weight": 46.5
}
print(student["name"]) #print(nameofdictionary["keyname"])

#Why dictionary- they are fast, structured and easier to access the labeled data.
#

Parnika

In [ ]:
names = ["Aryan", "Vansh", "Ayaan", "Snehal", "Ayaan"]
print(names)
names.append("Parnika")
print(names)
#give a program to remove an item form the list with the help of remove method
names = [names for names in names if names != "Ayaan"]
print("List after removing all 'Ayaan':", names)

b= names.pop(0)
print(b)

['Aryan', 'Vansh', 'Ayaan', 'Snehal', 'Ayaan']
['Aryan', 'Vansh', 'Ayaan', 'Snehal', 'Ayaan', 'Parnika']
List after removing all 'Ayaan': ['Aryan', 'Vansh', 'Snehal', 'Parnika']
Aryan

In [ ]:
#write a program with the help of slicing in the list
#1- to print the output from index 1 to 3
my_list = [10, 20, 30, 40, 50, 60]
sliced_list = my_list[1:4]
print("list:", my_list)
print("Sliced list:", sliced_list)

#print the putputform index 0-3
print(sliced_list[0:3])
# Starting index,  ending index
#Clear()- removes all the items from the list
#a= [2,3,4,5]
#a clear()
#print(a)
#username= input("Enter username:")
#print("username is: " + username)

list: [10, 20, 30, 40, 50, 60]
Sliced list: [20, 30, 40]
[20, 30, 40]

In [ ]:
my_list= ["kinder joy", "golgappe", "coffee", "tea"]
print(my_list)